
<div class="container">
    <h2>Lets Pull an Example Tweet</h2>
    <div id="example1"></div>
    <hr>
    <h2>These are @replies!</h2>
    <div id="example2"></div>
    <hr>
    <h2>Last 3 Twitter posts using hastag #NYJets</h2>
    <div id="example3"></div>
    <hr>
    <h2>Last 3 Twitter posts using hastag #API with custom callback</h2>
    <div id="example4"></div>
</div>